@font-face {
    font-family: "Open Sans Bold";
    src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "Open Sans Semibold";
    src: url("../fonts/OpenSans-SemiBold.ttf");
}

@font-face {
    font-family: "Open Sans Ligth";
    src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: "Open Sans Regular";
    src: url("../fonts/OpenSans-Regular.ttf");
}

:root {
    --head-back-color: #fb687b;
    --head-color: #ffffff;
    --head-color-alt: #940415;
    --search-border-color: #c7cce3;
    --content-back-color: #fff4f5;
    --content-wrapper-color: #ffffff;
    --content-wrapper-color-alt: #ebebed;
    --content-desc-color: gray;
    --content-h1-color: #fb687a;
    --content-h2-color: #616161;
    --content-color: #2b2b2b;
    --content-border-color: #373b48;
    --content-link-hover-color: #c1c9de;
    --content-link-active-color: #b0b8cb;
    --content-exercise-h-back-color: #fb687b;
    --content-exercise-h-back-color-alt: #fb687b;
    --content-exercise-h-color: #eeeeee;
    --content-exercise-answer-true-color: rgba(105, 221, 108, 0.5);
    --anchor-color: #fb687a;
    --foot-back-color: #fb687b;
    --foot-color: #ffffff;

    font-family: "Open Sans Regular", sans-serif;
    font-weight: normal;
    font-size: 16px;
}

body {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none !important;
}


/*Generic styles block*/
.site-search{
    position: relative;
    display: block;
    align-self: baseline;
}
.site-search form {
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.site-search input {
    display: inline-block;
    width: 300px;
    height: 25px;
    padding: 0 8px;
    margin: 0;
    font-size: 15px;
    border: 0 solid transparent;
    border-radius: 2px;
    vertical-align: baseline;
}
.site-search input::placeholder {
    font-size: 16px;
}


/*Header styles block*/
.main-head {
    display: block;
    width: 100%;
    height: min-content;
    min-height: 40px;
    background-color: var(--head-back-color);
}
.main-head .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1024px;
    margin: 0 auto;
    padding: 10px;
}
.main-head .row {
    display: flex;
    flex-direction: row;
}
.main-head .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    height: 100%;
    align-self: baseline;
    color: var(--head-color);
    font-size: 17px;
}
.main-head .sub-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    height: 100%;
    margin-left: 8px;
    align-self: baseline;
    color: var(--head-color-alt);
    font-size: 13px;
}

/*Content styles block*/
.main-content {
    display: block;
    width: 100%;
    min-height: 100vh;
    padding: 15px 0 15px 0;
    background-color: var(--content-back-color);
}
.main-content .page-indicator {
    color: gray;
}
.main-content .site-search{
    display: none;
    margin: 10px 0 5px 0;
}
.main-content .site-search input {
    border: 2px solid var(--search-border-color);
}
.main-content .wrapper {
    display: flex;
    flex-direction: column;
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: var(--content-wrapper-color);
}
.main-content h1 {
    color: var(--content-h1-color);
    font-size: 24px;
    margin: 19px 0;
}
.main-content .sub-header {
    color: var(--content-h2-color);
    font-size: 17px;
    margin-bottom: 10px;
}
.main-content .avatar-container {
    position: relative;
    display: flex;
    justify-content: right;
    width: 100%;
}
.main-content .avatar {
    position: fixed;
    width: max-content;
    margin: -15px 0 0;
    padding: 2px;
}
.main-content .avatar img {
    border-radius: 4px;
}
#vkshare0 {
    margin: 8px auto 0;
}
.main-content .desc {
    margin: 0 0 19px 0;
    font-size: 15px;
    font-weight: 500;
    color: gray;
    line-height: 120%;
}
.main-content img {
    display: block;
    max-width: 100%;
}
.main-content a {
    color: var(--anchor-color);
    text-decoration: underline;
    transition: background-color 0.1s;
}
.main-content a:hover {
    color: #ca4152;
    background: #fff4f5;
}
.main-content .wrapper > *:first-child {
    margin-top: 0 !important;
}
.main-content .list {
    display: block;
    margin: 8px 0 0 0;
}
.main-content .list .item {
    display: block;
    position: relative;
    margin: 0 0 2px 0;
    font-size: 15px;
    padding: 10px;
    border-top: 2px dashed #fb687a;
    max-width: 600px;
    min-height: 90px;
}
.main-content .list.relatable .item {
    padding: 0;
    border: none;
    min-height: initial;
}
.main-content .list.tasks .item {
    padding: 0;
    border: none;
    min-height: initial;
    max-width: initial;
}
.main-content .list .item .annotation {
    color: #888888;
    line-height: 130%;
    font-size: 14px;
    padding: 4px;
}
.main-content .list .item a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 4px;
}
.main-content .list.tasks {
    margin: 24px 0 0 0;
}
.main-content .list.tasks .item {
    margin: 0;
}
.main-content .list.tasks .item li {
    margin: 4px 0 0 16px;
}
.main-content .list.tasks .item table {
    margin: 8px 0 0 0;
}
.main-content .list.tasks .item table td, .main-content .list.tasks .item table th  {
    padding: 6px;
    border: 1px solid #3e3e3e;
}
.main-content .list.tasks .item table th {
    background-color: rgba(0, 0, 0, 0.1);
}
.main-content .list.tasks .item .sub-item {
    margin-bottom: 20px;
    border: 1px solid #eeeeee;
    padding: 0;
}
.main-content .list.tasks .item .question {
    font-size: 17px;
    background: #fde8eb;
    color: #404040;
    padding: 10px 20px;
    line-height: 160%;
    word-break: break-word;
}
.main-content .list.tasks .item .sub-item .answers {
    padding: 10px 20px;
}
.main-content .list.tasks .item .sub-item .answers .answer {
    color: #303030;
    margin: 4px 0;
    padding: 4px;
    word-break: break-word;
}
.main-content .list.tasks .item .sub-item .answers .answer.true {
    background: #bdf1bd;
    color: green;
    border-radius: 2px;
    padding: 6px;
}
.main-content .list.tasks .item .sub-item .answers .answer.true:before {
    content: "Правильный ответ";
    display: block;
    color: white;
    background: #fb687a;
    width: 145px;
    text-align: center;
    padding: 2px;
    font-size: 14px;
    margin-bottom: 11px;
    border-radius: 3px;
}
.main-content .list.tasks .item h2 {
    margin: 8px 0 0 0;
    padding: 6px;
    font-size: 16px;
    background-color: var(--content-exercise-h-back-color);
    color: var(--content-exercise-h-color)
}
.main-content .list .item a.fancybox {
    display: block !important;
    background: none !important;
    cursor: pointer;
}
.main-content .list .item:last-child {
    margin: 0;
}


/*Footer styles block*/
.main-foot {
    display: block;
    width: 100%;
    height: min-content;
    min-height: 60px;
    background-color: var(--foot-back-color);
}
.main-foot .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1024px;
    margin: 0 auto;
    padding: 25px;
}
.main-foot .title {
    display: block;
    width: max-content;
    align-self: center;
    color: var(--foot-color);
    font-size: 14px;
    letter-spacing: 2px;
}


/*Res fixes styles block*/
@media (max-width: 1100px) {
    .main-head .wrapper {
        width: 100%;
    }

    .main-content {
        padding: 10px 0 10px 0;
    }
    .main-content .wrapper {
        width: 98%;
        border-radius: 8px;
    }

    .main-foot .wrapper {
        width: 100%;
    }
}

@media (max-width: 910px) {
    .main-content .avatar-container {
        position: relative;
        margin: 20px 0 0;
        justify-content: left;
        order: 999;
    }
    .main-content .avatar {
        position: relative;
    }
}

@media (max-width: 640px) {
    :root {
        font-size: 15px;
    }
    .main-head .site-search {
        display: none;
    }

    .main-content .avatar {
        margin: 0 auto;
    }
    .main-content h1 {
        font-size: 20px;
    }
    .main-content .site-search {
        display: flex;
        justify-content: left;
    }
    .main-content .list .item {
        padding-left: 0;
        padding-right: 0;
    }
    .main-content .list.tasks .item .question {
        font-size: 16px;
        padding: 10px;
    }
    .main-content .list.tasks {
        margin-right: -10px !important;
        margin-left: -10px !important;
    }
    .main-content .list.tasks .item .sub-item .answers {
        padding: 5px 10px;
    }
}

@media (max-width: 450px) {
    :root {
        font-size: 14px;
    }
    .main-content .wrapper {
        padding: 6px;
    }
    .main-content .site-search input, .main-content .site-search form {
        width: 100%;
    }
    .main-content .list {
        padding: 0;
        border: none;
    }
    .main-content .list.tasks .item .sub-item .answers {
        padding: 4px;
    }
}